/* * View Eye Modal */
.eye-modal-archive {
    border: 1px solid #023047;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.eye-header-archive {
    color: #023047;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.eye-modal-archive span {
    color: #fff;
    font-weight: 500;
    background-color: #a4161a;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.eye-modal-archive strong {
    font-size: 1.1rem;
}

.eye-header-archive:first-child {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.eye-modal {
    border: 1px solid #023047;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.eye-header {
    color: #023047;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.eye-modal .active-status {
    color: #fff;
    font-weight: 500;
    background-color: #1b4332;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.eye-modal .created {
    color: #fff;
    font-weight: 500;
    background-color: #1b4332;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.eye-modal strong {
    font-size: 1.1rem;
}

.eye-header:first-child {
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* ! View Eye Modal END*/