.print-check table {
    width: 100%;
    border-collapse: collapse;
}

.print-check thead {
    position: sticky;
    top: 0;
}

.print-check tbody {
    background: transparent;
    font-size: 1rem;
    font-weight: 700;
    color: #023047;
}

.print-check th,
.print-check td {
    padding: .45rem;
    text-align: center;
    border-bottom: 1px solid var(--input-bg);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.print-check th {
    font-weight: 600;
    position: sticky;
    top: 0;
    background: #003049;
    padding: 1rem;
    color: #fff;
}

