@import url("../reset.css");
@import url("department-main-content.css");
@import url("department-table.css");
@import url("department-modal.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
    --bg-color: #fffeff;
    --active-color: #023e8a;
    --status-green: #2a9d8f;
    --status-red: #ef233c;
    --main-bg: #0d1b2a;
    --input-bg: #ced4da;
}

/* !Header Label */
.department-header-label {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #003049;
    margin-bottom: 5px;
    margin-top: 10px;
}
/* !Header label End */

/* !Status Window */
.department-status-windows { 
    border-bottom: 1px solid rgba(105, 97, 97, 0.8);
}

.department-status-windows li {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
    font-size: 1rem;
    padding: 1rem;
}

.department-status-windows li.active {
    border-bottom: 2px solid var(--active-color);
}
  
.department-status-windows ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .7rem;
    list-style: none;
}

.department-status-windows span{
    font-weight: 700;
}

.count, .countArchive{
    padding: .3rem;
    border-radius: 20px 20px 200px 200px;
    color: rgb(245, 6, 6);
}

.count .wrap {
    border: 1px solid black;
}
/* !Status Window End */

/* !Table Content */
.department-table-container {
    max-height: 47rem;
    height: fit-content;
    /* margin-top: .2rem; */
    border-radius: 5px;
    box-shadow: -4px 4px 51px -4px rgba(0,0,0,0.10);
    background-color: #e9ecef;
    /* border: 1px solid RGBA(108,117,125,0.2); */
    padding-bottom: 1rem;
    overflow: hidden;
}
/* !Table Content Container END*/

/* ! Action Section */
/* *Action Container */
.action-container {
    margin-bottom: .3rem;
}

.action-wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7rem;
    padding: .5rem;
}
/* *Action Container END */
/* *Action Wrapper */
.action-wrapper .action-buttons .action{
    margin-right: 20px;
}

.action-wrapper .action-buttons {
    margin-top: 5px;
}
/* *Action Wrapper END*/
/* *Action Buttons */
.action-buttons .action {
    border: 1px solid rgba(0,0,0,0.52);
    padding: .3rem .6rem;
    border-radius: 50px;
    box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.57);
    transition: .3s;
}

.action-buttons .action:hover {
    background-color: RGBA(206,212,218,0.91);
    cursor: pointer;
}

.action-buttons .action:focus {
    background-color: #1f2e42;
    color: white;
}
/* *Action Buttons END */
/* *Action Search */
.action-search input[type="search"] {
    border: none;
    outline: none;
    background: var(--input-bg);
    padding: .5rem;
    padding-left: 2rem;
    border-radius: 5px;
}

.action-search {
    position: relative;
}

.action-search .search-icon {
    position: absolute;
    top: 19px;
    left: .6rem;
    transform: translateY(-50%);
}
/* *Action Search END */
/* !Action Section END */

/* !Media Query */

@media only screen and (max-width: 1440px) and (max-height: 900px) {
    .department-table-container {
        max-height: 35rem;
    }
}
/* !Media Query END */