/* ! Table */
/* *Main Table */

/* Table Size Main*/
#table-main th:nth-child(1) {
    width: 5%;
}

#table-main th:nth-child(2) {
    width: 7%;
}

#table-main th:nth-child(3) {
    width: 12%;
}

#table-main th:nth-child(4) {
    width: 12%;
}

#table-main th:nth-child(5) {
    width: 15%;
}

#table-main th:nth-child(6) {
    width: 15%;
}

#table-main th:nth-child(7) {
    width: 15%;
}

/* Table Size Archived  */
#table-second th:nth-child(1) {
    width: 5%;
}

#table-second th:nth-child(2) {
    width: 7%;
}

#table-second th:nth-child(3) {
    width: 9%;
}

#table-second th:nth-child(4) {
    width: 12%;
}

#table-second th:nth-child(5) {
    width: 15%;
}

#table-second th:nth-child(6) {
    width: 20%;
}

#table-second th:nth-child(7) {
    width: 18%;
}

#table-main td:nth-child(2) {
    color: #2d6a4f;
}

#table-main th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

#table-main th:nth-child(8) {
    border-radius: 0px 10px 10px 0px;
}

#table-second th:nth-child(8) {
    border-radius: 0px 10px 10px 0px;
}

#table-second th:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

#table-second td:nth-child(2) {
    color: #9d0208;
    font-weight: 700;
}

#table-main td .created_at {
    background-color: #2d6a4f;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
}

#table-second td .delete_at {
    background-color: #a4161a;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

#table-main td:nth-child(5), #table-second td:nth-child(5) {
    color: black;
}
/* ! Table END */