/* !Status Window */
.all-status-windows { 
    border-bottom: 1px solid rgba(105, 97, 97, 0.8);
}

.all-status-windows li {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
    font-size: 1rem;
    padding: 1rem;
}

.all-status-windows li.active {
    border-bottom: 2px solid var(--active-color);
}
  
.all-status-windows ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .7rem;
    list-style: none;
}

.all-status-windows span{
    font-weight: 700;
}

.count, .countArchive{
    padding: .3rem;
    border-radius: 20px 20px 200px 200px;
    color: rgb(245, 6, 6);
}

.count .wrap {
    border: 1px solid black;
}
/* !Status Window End */