.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .col {
    display:block;
    flex: 100%;
  }

  .col-10{
    flex: 10%;
    width: 10%;
  }
  .col-20{
    flex: 20%;
    width: 20%;
  }
  .col-30{
    flex: 30%;
    width: 30%;
  }
  .col-40{
    flex: 40%;
    width: 40%;
  }
  .col-50{
    flex: 50%;
    width: 50%;
  }
  .col-60{
    flex: 60%;
    width: 60%;
  }
  .col-70{
    flex: 70%;
    width: 70%;
  }
  .col-80{
    flex: 80%;
    width: 80%;
  }
  .col-90{
    flex: 90%;
    width: 90%;
  }

  .text-center{
    text-align: center;
  }

  .float-right{
    float: end;
  }

  .float-left{
    float: start;
  }

  .btn-blue{
    padding: 6px 15px 6px 15px;
    background-color: rgb(143, 143, 250);
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }

  .btn-blue:hover{
    background-color: rgb(182, 182, 255);
    cursor: pointer;
  }

  .label{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #023047;
  }


  .malaking-font{
    font-size: 100px;
  }

  

