@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: rgb(36,51,82);
    background: linear-gradient(90deg, rgba(36,51,82,1) 13%, rgba(35,112,66,1) 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Forgot Card */

.forgot-card {
    /* border: 2px solid black; */
    width: 40rem;
    height: 18rem;
    padding: 4rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: calc(3rem * 1.2);
}

.forgot-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-3deg);
    border-radius: 10px;
    z-index: -1;
}

/* Image Icon */

.forgot-card-logo img {
    width: 10rem;
}

/* Header */
.forgot-header {
    margin-top: calc(-2.1rem);
}

.forgot-header h1 {
    font-size: calc(1.5rem * 1.1);
    font-weight: 600;
    margin-bottom: .3rem;
}

.forgot-header h1+div {
    opacity: .9;
}

.forgot-header div {
    font-size: calc(1rem * .8);
}

.forgot-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}
.forgot-card-form .form-item {
    position: relative;
}

.forgot-card-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.5rem;;
    opacity: .5;
}
/* Form Elements */

.forgot-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.forgot-card input:focus {
    background: white;
}

.forgot-card button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.forgot-card button:hover {
    background-color: rgba(167, 30, 30, 0.85);
    cursor: pointer;
}

@media (max-width: 768px) {

    body {
        padding: .3rem;
    }

    .forgot-card {
        width: 290px;
        height: 35rem;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 4px;
        /* overflow: hidden; */
    }

    .forgot-header {
        margin-top: .05rem;
        padding: 2px;
    }

    button {
        padding: .5rem;
    }

}