@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

nav {
    background-color: #457b9d;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100vw;
    position: fixed;
  }
  
  h2 {
    margin-left: 1.3em;
  }
  .clock {
    margin-top: 1.5em;
    margin-right: -3.5em;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 6px;
    font-weight: 600;
}
  